@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-primary;
    }
    aside {
        @apply w-full h-full flex flex-col items-center justify-evenly bg-secondary;
    }
    aside > .title > h1 {
        @apply text-EEE sm:text-3xl font-semibold tracking-wide underline decoration-orangeC;
    }
    aside > .title > h2 {
        @apply text-orangeC italic sm:text-lg font-semibold;
    }
    main {
        @apply w-full h-full flex items-center justify-evenly;
    }
    main > article {
        @apply prose lg:prose-lg p-5;
    }
    main > article > h1 {
        @apply text-EEE underline decoration-orangeC;
    }
    main > article > h3 {
        @apply text-EEE;
    }
    main > article > p {
        @apply text-EEE;
    }
    main > #about > article {
        @apply prose lg:prose-lg p-5;
    }
    main > #about > article > h1 {
        @apply text-EEE underline decoration-orangeC;
    }
    main > #about > article > h3 {
        @apply text-EEE;
    }
    main > #about > article > p {
        @apply text-EEE;
    }
    main > #skills > article {
        @apply prose lg:prose-lg p-5;
    }
    main > #skills > article > h1 {
        @apply text-EEE underline decoration-orangeC;
    }
    main > #skills > article > h3 {
        @apply text-EEE;
    }
    main > #skills > article > p {
        @apply text-EEE;
    }
    main > img {
        @apply w-2/5 rounded;
    }
}

@layer components {
    .title {
        @apply flex flex-col items-center text-center md:text-center;
    }
    #perfil {
        @apply w-52 hidden md:flex rounded-full border-2 border-EEE;
    }
    .links {
        @apply flex flex-col items-start justify-center gap-5 text-EEE text-2xl;
    }
    .links > .links-group {
        @apply flex items-center justify-center;
    }
    .links > .link-group > a {
        @apply hover:text-orangeC hover:underline hover:decoration-primary hidden sm:inline-block;
    }
    .links > .link-group > i {
        @apply mr-2 text-orangeC;
    }
    .social {
        @apply flex items-center justify-center gap-5 text-EEE text-2xl;
    }
    .social > a > i {
        @apply hover:text-orangeC cursor-pointer;
    }
    #btn {
        @apply p-4 my-2 italic no-underline text-EEE bg-orangeC rounded-tl rounded-br;
    }
    .img_container {
        @apply flex gap-4;
    }
    .modes {
        @apply flex flex-col gap-2 text-xl text-EEE;
    }
    #about {
        @apply w-full h-full p-5 flex flex-col gap-10;
    }
    .info {
        @apply w-1/2 h-52 p-5 bg-secondary rounded flex flex-col flex-wrap;
    }
    .info-group {
        @apply m-2 flex items-center gap-2;
    }
    .info-group > h1 {
        @apply font-bold text-orangeC;
    }
    .info-group > p {
        @apply text-EEE;
    }
    .card-info {
        @apply flex items-center justify-self-start gap-5;
    }
    .ex-edu {
        @apply flex gap-5;
    }
    .experience {
        @apply w-1/2 h-52 p-5 bg-secondary rounded;
    }
    .experience > .header {
        @apply font-bold text-center text-xl text-EEE uppercase underline decoration-orangeC tracking-wider;
    }
    .education {
        @apply w-1/2 p-5 bg-secondary rounded flex flex-col items-start gap-3;
    }
    .education > h1 {
        @apply font-bold text-EEE text-xl uppercase;
    }
    .list > h1 {
        @apply font-semibold text-EEE text-lg underline decoration-orangeC underline-offset-2;
    }
    .list > li {
        @apply flex gap-2 text-EEE;
    }
    .list > li > p {
        @apply text-orangeC;
    }
    .past-experiences {
        @apply w-1/2 p-5 bg-secondary rounded flex flex-col items-start gap-3;
    }
    .past-experiences > h1 {
        @apply font-bold text-EEE text-xl uppercase;
    }
    #skills {
        @apply w-full h-full p-3 flex flex-col gap-10 justify-start;
    }
    .languages {
        @apply w-1/2 h-fit p-5 bg-secondary rounded;
    }
    .languages > h1 {
        @apply font-bold text-EEE text-lg uppercase text-center;
    }
    .languages > .info-group > span {
        @apply text-2xl text-orangeC;
    }
    .frameworks {
        @apply w-1/2 h-fit p-5 bg-secondary rounded;
    }
    .frameworks > h1 {
        @apply font-bold text-EEE text-lg uppercase text-center;
    }
    .frameworks > .info-group > span {
        @apply text-2xl text-orangeC;
    }
    .soft-hard {
        @apply flex gap-5;
    }
    .soft-skills {
        @apply w-1/2 p-5 bg-secondary rounded flex flex-col items-start gap-3;
    }
    .soft-skills > h1 {
        @apply font-bold text-EEE text-xl uppercase underline underline-offset-2 decoration-orangeC;
    }
    .hard-skills {
        @apply w-1/2 p-5 bg-secondary rounded flex flex-col items-start gap-3;
    }
    .hard-skills > h1 {
        @apply font-bold text-EEE text-xl uppercase underline underline-offset-2 decoration-orangeC;
    }
    .certificates {
        @apply w-full p-5 bg-secondary rounded flex flex-col items-center justify-center;
    }
    .certificates > h1 {
        @apply font-bold text-EEE text-xl text-center my-5 uppercase underline underline-offset-2 decoration-orangeC;
    }
    .certificates > .img-cert {
        @apply w-full;
    }
    #check {
        @apply text-green-400;
    }
}

body {
    display: grid;
    grid-template-columns: 22vw 78vw;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}