{% load static %}
<aside>
    <div class="title">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <h2>{{user.profession}}</h2>
    </div>
    <img id="perfil" src="{% static 'global/images/Persan.jpeg' %}" alt="profile">
    <div class="links">
        <div class="link-group">
            <i class="bi bi-house-fill"></i>
            <a href="{% url 'home:index' %}">Home</a>
        </div>
        <div class="link-group">
            <i class="bi bi-person-fill"></i>
            <a href="{% url 'about:index' %}">About</a>
        </div>
        <div class="link-group">
            <i class="bi bi-cpu-fill"></i>
            <a href="{% url 'skills:index' %}">Skills</a>
        </div>
        <div class="link-group">
            <i class="bi bi-book-fill"></i>
            <a href="{% url 'work:index' %}">Portifolio</a>
        </div>
        <div class="link-group">
            <i class="bi bi-chat-dots-fill"></i>
            <a href="{% url 'contact:index' %}">Contact</a>
        </div>
    </div>
    <div class="social">
        <a target="_blank" href="https://www.linkedin.com/in/philippersan/"><i class="bi bi-linkedin"></i></a>
        <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
        <a target="_blank" href="https://github.com/philip-persan"><i class="bi bi-github"></i></a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=5531987860112"><i class="bi bi-whatsapp"></i></a>
    </div>
</aside>