{% load static %}
<aside>
    <div class="title">
        <h1>Philip Persan</h1>
        <h2>Web Developer</h2>
    </div>
    <img id="perfil" src="{% static 'global/images/Persan.jpeg' %}" alt="profile">
    <div class="links">
        <div class="link-group">
            <i class="bi bi-house-fill"></i>
            <a href="#home">Home</a>
        </div>
        <div class="link-group">
            <i class="bi bi-person-fill"></i>
            <a href="#about">About</a>
        </div>
        <div class="link-group">
            <i class="bi bi-cpu-fill"></i>
            <a href="#skills">Skills</a>
        </div>
        <div class="link-group">
            <i class="bi bi-book-fill"></i>
            <a href="#portifolio">Portifolio</a>
        </div>
        <div class="link-group">
            <i class="bi bi-chat-dots-fill"></i>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="social">
        <a href=""><i class="bi bi-linkedin"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-github"></i></a>
        <a href=""><i class="bi bi-whatsapp"></i></a>
    </div>
</aside>