{% extends 'global/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block conteudo %}
<article>
    <h1>Hellow My Name is {{request.user.first_name}}!</h1>
    <p>
        I'm graduating in Comupter Science, in the begning of my carrer.
    </p>
    <p>
        I have 1 Year of experience in web developing, with Python as my main
        programming language, using Django as Framework.
    </p>
    <p>
        I'm open to work!
    </p>
    <p>
        Contact Me! 😄
    </p>
    <a id="btn" href="">More about me</a>
</article>
<img src="{% static 'global/images/Persan.jpeg' %}" alt="">
{% endblock conteudo %}
