{% extends 'global/base.html' %}
{% load static %}
{% block title %}About Me{% endblock title %}
{% block conteudo %}
<section id="about">
    <article class="prose prose-xl">
        <h1 class="">About Me</h1>
        <h3>I'm {{user.first_name}} {{user.last_name}} and {{user.profession}}</h3>
        <p>
            Here you gonna learn more about me!
        </p>
    </article>
    <div class="card-info">
        <div class="info">
            <div class="info-group">
                <h1 class="font-semibold">Birthday:</h1>
                <p>{{user.birthday}}</p>
            </div>
            <div class="info-group">
                <h1>Website:</h1>
                <p>www.philippersan.com</p>
            </div>
            <div class="info-group">
                <h1>Degree:</h1>
                <p>{{user.degree}}</p>
            </div>
            <div class="info-group">
                <h1>Location:</h1>
                <p>{{user.location}}</p>
            </div>
            <div class="info-group">
                <h1>Age:</h1>
                <p>{{user.age}}</p>
            </div>
            <div class="info-group">
                <h1>Phone:</h1>
                <p>{{user.phone}}</p>
            </div>
            <div class="info-group">
                <h1>Freelance:</h1>
                {% if user.freelance %}
                <p>Availabel</p>
                {% else %}
                <p>Not Availabel</p>
                {% endif %}
            </div>
            <div class="info-group">
                <h1>Open To Work:</h1>
                {% if user.open_to_work %}
                <p>Availabel</p>
                {% else %}
                <p>Not Availabel</p>
                {% endif %}
            </div>
        </div>
        <div class="experience">
            <h1 class="header">Last Job</h1>
            <div class="last-job">
                <div class="info-group">
                    <h1>Company:</h1>
                    <p>{{last_job.enterprise}}</p>
                </div>
                <div class="info-group">
                    <h1>Position:</h1>
                    <p>{{last_job.position}}</p>
                </div>
                <div class="info-group">
                    <h1>Started at:</h1>
                    <p>{{last_job.started_at}}</p>
                </div>
                <div class="info-group">
                    <h1>Status:</h1>
                    {% if last_job.is_on %}
                    <p>Working</p>
                    {% else %}
                    <p>Not Working</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="ex-edu">
        <div class="education">
            <h1>Education:</h1>
            {% for education in educations %}
            <ul class="list">
                <h1>{{ education.school }}</h1>
                <li>
                    <p>Nível:</p> {{ education.education_level }}
                </li>
                <li>
                    <p>Início:</p> {{ education.started_at }}
                </li>
                <li>
                    <p>Termino:</p> {{ education.finished_at }}
                </li>
                <li>
                    <p>Status:</p> {{ education.status }}
                </li>
            </ul>
            {% endfor %}
        </div>
        <div class="past-experiences">
            <h1>Experiences:</h1>
            {% for job in jobs %}
            <ul class="list">
                <h1>{{ job.position }} / {{ job.enterprise }}</h1>
                <li>
                    <p>Duration:</p> {{job.started_at.year}} - {% if job.finished_at.year is not None %} {{job.finished_at.year}} {% else %} Working {% endif %} 
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock conteudo %}